<select class="book__status" name="status" id="edit-form-status">
  <option <%= status['want to read'] %> value="want to read">want to read</option>
  <option <%= status['reading'] %> value="reading">reading</option>
  <option <%= status['read'] %> value="read">read</option>
</select>
