<section class="detail-book">
    <img class="book__img" src="<%= @book%>" alt="">
    <article class="book-information"> 
        <h1 class="book__title"> </h1>
        <span class="book__author" >by </span>
        <p class="book__description"> </p>
        <button class="book_buy"> Buy for 
            <img src="/images/buy.svg" alt="buy">
        </button>
    </article>
</section>