<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/books.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/book_detail.css">
    <title>Finereads</title>
</head>
<body>
    <main class="container">
        <nav class="navbar">
            <a class="navbar-logo" href="/">Fine<strong>reads</strong></a>
            <ul class="navbar-menu">
                <li class="navbar-menu__item">
                    <a href="/books" class="navbar-menu__link">My books</a>
                </li>
                <li class="navbar-menu__item">
                    <a href="/search" class="navbar-menu__link">Find Books</a>
                </li>
            </ul>
        </nav>

        <%= yield %>

        <footer class="footer">
            <p class="footer-authors">Made by:
                 <a target="black" class="footer-authors__link" href="https://github.com/acastemoreno">@acastemoreno</a>,
                 <a target="black" class="footer-authors__link" href="https://github.com/drihu">@drihu</a> and
                 <a target="black" class="footer-authors__link" href="https://github.com/alexRai98">@alexRai98</a>
            </p>
            <a target="black" href="https://github.com/alexRai98/finereads">
                <img src="/images/github.svg" alt="github">
            </a>
        </footer>
    </main>

</body>
</html>
