.detail-book{
    display: grid;
    grid-template-columns: 153px 1fr 1fr;
    grid-template-areas: "img information";
    grid-gap: 10px;
    margin: 47px 0px 421px 0px;
}
.book__img{
    grid-area: img;
}
.book-information{
    grid-area: information;
    display: flex;
    flex-direction: column;
}
.book__title{
    font-size: 20px;
    margin: 0px;
}
.book__author{
    font-size: 16px;
    color: #4A5568;

}
.book__description{
    font-size: 16px;
    color: #4A5568;
}
.book-btn__buy{
    display: flex;
    background-color: #9AE6B4;
    border: 1px #9AE6B4 solid;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 5px 10px;
    align-self: flex-end;
    color: #000000;
    cursor: pointer;
}
.book-btn__buy:hover{
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    .detail-book{
        grid-template-columns: 1fr;
        grid-template-areas: "img""information";
    }
    .book__img{
        justify-self: center;
    }
}
@media screen and (max-width: 425px){
    .book-btn__buy{
        align-self: center;
        width: 100%;
        font-size: 22px;
    }
}

/* book edit */
.book__sections{
    font-size: 12px;
    text-transform: uppercase;
    color: #4A5568;
    margin: 12px 0px 7px 0px;
}
.book__status{
    font-size: 16px;
    font-family: "nunito";
    background-color:  #EDF2F7;
    border: 1px #EDF2F7 solid;
    padding: 9px 0px 9px 12px;
    width: 130px;
}
.book__notes{
    font-size: 16px;
    font-family: "nunito";
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    border: 1px #718096 solid;
    padding: 8px 12px;
    margin-bottom: 9px;
}
.detail-book__figure {
  margin: 0;
}
.detail-book__status {
  color: #4A5568;
  font-size: 12px;
  line-height: 16px;
}
.detail-book__figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-book__image {
  width: 100%;
}
